extends ../shared/layout
block main-content
    .main-content
        .shadow
            .main-content-form
                .address
                    a(href="/home")
                        | home 
                        a(href="/categories")
                    span
                        | >> categories >> details
                .wrapper
                    .category-details
                        img(src="/img/line.png")
                        p
                            | Posteb by #{data.creator} on #{data.date} in #{data.title.lenght} | #{data.coments}
                        .img-container
                            img(src="#{data.picture}")
                        p.description
                            | #{data.description}
                        - if(currentUser)
                            .comment-section
                               h3
                                   | Leave a comment
                                   img(src="/img/line.png")
                               p
                                   | Comment:
                               textarea(id="comment" class="form-control" type="text" name="comment" placeholder="Comment")
                    .sidebar
                        h4
                            | Recent Posts
                        .widget
                            .widget-content
                                ul
                                   li
                                       | Make A Wish
                                   li
                                       | The Morning Dew
                                   li
                                       | Purple Haze
                                   li
                                       | Bridge To Nowhere
                                   li
                                       | The Lonely Ladybug
                        h4
                            | Recent Comments
                        .widget
                            .widget-content
                                ul
                                   li
                                       | New Theme: DeepFocus- Elegant Themes Blog on Purple Haze
                                   li
                                       | Frankie on At vero eos et accusamus et iusto
                                   li
                                       | Soviet on Urna eget erat non purus
                                   li
                                       | Light on Neque porro quisquam est qui
                                   li
                                       | Pesho on Aenean bibendum elementum pede
                        h4
                            | About Me
                        .widget
                            .widget-content
                                p
                                    | Nam commodo dignissim felis vitae ullamcorper. Sed volutpat velit id purus bibendum placerat. Sed porta, nulla ac interdum ullamcorper, mi orci porta eros, nec commodo ligula dolor et arcu. Quisque ullamcorper enim vel tellus rhoncus et fermentum diam congue. Phasellus eu turpis lorem, id gravida nunc. In bibendum nulla vel quam pretium a fringilla erat ornare.